@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-visible::-webkit-scrollbar {
  width: 6px;
  display: block;
}
.scrollbar-visible::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-visible::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
}
.scrollbar-visible::-webkit-scrollbar-thumb:hover {
  background-color: rgba(155, 155, 155, 0.7);
}